.headerPageBg {
	background: #f5f5f5;
	border-radius: 0.6rem;
}

th:last-child {
	width: 70px !important;
	text-align: center;
}

th {
	background-color: #f5f5f5 !important;
}

tr {
	cursor: pointer;
}

td,
th {
	padding: 0.3rem 0.6rem !important;
	font-size: 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.tbDash {
	border: solid 1px #292524;
}
.tbDash td,
th {
	text-align: center;
	font-size: 1.1rem !important;
}

.tbDash th {
	background-color: #d6d3d1 !important;
}

.text-success {
	color: #21af28 !important;
}
